body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header section - START */
header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

nav{
    float: right;
    padding: 24;
    font-family: Arial, Helvetica, sans-serif;
}

.sitenav{
    display: flex;
    align-items: right;
    list-style: none;
    float: left;
    text-align: left;
}

.sitenav li a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    padding-right: 16px;
}

.sitenav li a:hover{
    color: rgba(31, 0, 115, 0.7);
    text-decoration: underline;
}

.logo{
    display: flex;
    flex-direction: row;
    height: 32px;
    float: left;
}

.logo_txt_colmar, .logo_txt_academy{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.5)
}

.logo_txt_colmar{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7)
}

/* header section - END */


/* main section - START */

    /* topbanner */
    .topbanner{
        background-color: rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.6);
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
    }

    main{
        padding-top: 64px;
        width: 100%;
    }

    .topbanner{
        display: flex;
    }

    .topbanner img{
        width: 60%;
        margin: 32px 24px 32px 24px; /* top right bottom left */
    }

    .topbanner_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .topbanner_text h2{
        font-size: x-large;
    }

    .topbanner_text button{
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 8px 0px 8px 0px;  /*top right bottom left*/
        width: 90%;
        height: 5%;
        box-sizing: content-box;
        font-size: medium;
        border: none;
    }

    /* midbanner */

    .midbanner {
        color: rgb(0, 0, 0, 0.6);
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .midbanner_left {
        width: 60%;
        max-width: 60%;
        display: inline-block;
        padding: 32px 0px 32px 24px; /* top right bottom left*/
    }

    .midbanner img{
        max-width: 100%;
    }
    
    .midbanner_right {
        width: 40%;
        max-width: 35%;
        display: inline-block;
        border-left: 1px solid rgb(0, 0, 0, 0.2);
    }

    .orientation, .campus, .guest{
        display: flex;
        word-break: break-all;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .orientation:hover, .campus:hover, .guest:hover{
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .orientation img, .campus img, .guest img{
        max-width: 35%;
        max-height: auto;
        object-fit: cover;
        padding: 16px;
    }

    .readmore{
        color: rgba(27, 3, 104, 0.7);
    }
    /* bottom banner */

/* main section - END */


/* footer section - START */

/* footer section - END */