body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header section - START */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
    z-index: 100;
    background-color: white;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    height: 32px;
    padding-left: 24px;
}

.logo_colmar, .logo_academy {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo_colmar {
    font-weight: bold;
    color: gray;
}

.logo_academy {
    color: lightgray;
}

.menu {
    padding-right: 24px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    align-items: right;
    list-style: none;
    float:left;
    text-align:left;
}

.navbar li a {
    color: rgb(127, 127, 127, 0.8);
    text-decoration: none;
    padding-right: 16px;
    display: inline-block;
}

.navbar li a:hover {
    color: rgba(16, 18, 151, 0.8);
    text-decoration: underline;
}
/* header section - END */

/* main section - START */
main {
    padding-top: 64px;
    width: 100%;
}

/* topbanner */
.topbanner {
    background-color: rgb(0, 0, 0, 0.2);
    color: rgb(0, 0, 0, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.topbanner img {
    width: 60%;
    padding: 32px 24px 32px 24px; /* top right bottom left*/
}

.topbanner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.topbanner_text h2{
    font-size: larger;
}

.topbanner button {
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
    box-sizing: content-box;
    border: none;
    width: 90%;
    height: 10%;
    top: 6px;
    bottom: 6px;
    font-size: 1em;
}

.topbanner button:hover {
    cursor: pointer;
    background-color: rgba(16, 18, 151, 0.8);
    color: white;
}

/* midbanner */
.midbanner {
    color: rgb(0, 0, 0, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.midbanner_left {
    width: 60%;
    max-width: 60%;
    display: inline-block;
    padding: 32px 0px 32px 24px; /* top right bottom left*/
}

.midbanner_right {
    width: 40%;
    max-width: 35%;
    display: inline-block;
    border-left: 1px solid rgb(0, 0, 0, 0.2);
}

.midbanner_left img {
    max-width: 100%;
}

.midbanner_left h1, .midbanner_left p {
    padding-left: 24px;
}

.midbanner_left h1 {
    font-size: xx-large;
}

.orientation, .campus, .guest {
    display: flex;
    word-break:break-all;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.orientation:hover, .campus:hover, .guest:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.1);
}

.orientation img, .campus img, .guest img {
    max-width: 35%;
    max-height: auto;
    object-fit: cover;
    padding: 16px;
}

.orientation_date, .our_campus, .guest_lecture {
    width: 65%;
    padding: 8px;
}

.orientation_date h2, .our_campus h2, .guest_lecture h2 {
    font-size: large;
}

.orientation_date p, .our_campus p, .guest_lecture p {
    font-size: medium;
}

.read_more {
    color: rgba(16, 18, 151, 0.8);
}

/* bottom banner */
.bottombanner {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.2);
    color: rgb(0, 0, 0, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bottombanner h1 {
    padding-top: 32px;
    padding-bottom: 32px;
    color: rgb(0, 0, 0, 0.6);
}

.start_learning {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px 72px 32px 72px; /* top right bottom left*/
}

.crop {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.software_engineering, .computer_art, .design, .data, .business, .marketing {
    display: inline-block;
    background-color: white;
    width: 33%;
    margin: 32px;
}

.software_engineering img, .computer_art img, .design img, .data img, .business img, .marketing img {
    width: 100%;
    height: auto;
}

.software_engineering h3, .computer_art h3, .design h3, .data h3, .business h3, .marketing h3 {
    padding-top: 16px;
    padding-left: 16px;
}

.software_engineering p, .computer_art p, .design p, .data p, .business p, .marketing p{
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

 /* Thesis Banner */
 .wrapper{
    display: block;
    width: 100%;
    max-width: 100%;
}
.wrapper h1 {
    text-align: center;
}
.thesisbanner {
    color: rgb(0, 0, 0, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.thesisbanner h1{
    display: block;
    text-align: center;
}
.thesisbanner_left {
    width: 60%;
    max-width: 60%;
    display: inline-block;
    padding: 32px 0px 32px 24px; /* top right bottom left*/
}
.thesisbanner_left h1 {
    font-size: xx-large;
}

.thesisbanner_left video{
    max-width: 100%;
}

.thesisbanner_right {
    width: 40%;
    max-width: 35%;
    display: inline-block;
   
}

.fisma, .now_and_then {
    display: flex;
    word-break: break-all;
   
}

.orientation:hover, .campus:hover, .guest:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.fisma img, .now_and_then img {
    max-width: 35%;
    max-height: auto;
    object-fit: cover;
    padding: 16px;
}

.fisma_content h2, {
    padding-top: 16px;
}

.fisma_content p, {
    padding-top: 16px;
}
/* main section - END */

/* footer section - START */
footer {
    border-top: 1px solid rgb(0, 0, 0, 0.2);
    color: rgb(0, 0, 0, 0.6);
    font-size: small;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}

.copyright {
    display: flex;
    align-items: center;
    text-align: left;
    float: left;
    left: 0;
    padding-left: 24px;
}

.policies {
    display: flex;
    align-items: center;
    list-style: none;
    float:right;
    text-align: right;
    padding-right: 24px;
}

.policies li, .policies li a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.6);
    padding-left: 16px;
}
/* footer section - END */

/* hidden sections - START */
    /* TODO */
    header .menu_mobile{
        display: none;
    }

    .midbanner_mobile{
        display: none;
    }
    .bottombanner_mobile{
        display: none;
    }
    .thesismobile {
        display: none;
    }
/* hidden sections - END */


/* media queries */
@media screen and (max-width: 640px){

    /* header - START */
        /* TODO */
        header .logo, header .menu {
            display: none;
        }
        

    /* menu mobile */
        /* TODO */
        header .menu_mobile {
            display: flex;
            width: 100%;
            height: 64px;
            margin: auto;
            padding-right: 24px;
        }

        .navbar {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: auto;
            list-style: none;
        }

        menu_mobile .navbar li {
            max-width: 100%;
            justify-content: space-between;
            display: flex;
            list-style: none;
            border: 1px solid black

        }

    /* header - END */

    /* main section - START */
        /* TODO */
        .topbanner {
            background-color: rgb(0, 0, 0, 0.2);
            color: rgb(0, 0, 0, 0.6);
            font-family: Arial, Helvetica, sans-serif;
            display: block;
            padding-bottom: 32px;
        }

        .topbanner img {
            width: 100%;
            padding: 0px;
        }

        .topbanner_text {
            display: flex;
            flex-direction: column;
            padding-left: 16px;
        }

        .topbanner button {
            padding-top: 2%;
            padding-bottom: 2%;
            background-color: rgb(0, 0, 0, 0.4);
            color: white;
            border: none;
            width: 90%;
            height: 50%;
            font-size: 1.5em;
        }

        /* mid banner */
        /* TODO */
        .midbanner {
            display: none;
        }

        /* mid banner - MOBILE */
        /* TODO */
        .midbanner_mobile {
            display: block;
        }

        .midbanner_mobile > .banner{
            width: 100%;
            max-width: 100%;
        }

        .midbanner_mobile > .banner > .orientation, 
        .midbanner_mobile > .banner > .campus, 
        .midbanner_mobile > .banner > .guest {
            display: flex;
            flex-direction: column;
            border-bottom: none;
        }

        .midbanner_mobile > .banner > .orientation img, 
        .midbanner_mobile > .banner > .campus img, 
        .midbanner_mobile > .banner > .guest img {
            max-width: 100%;
            padding: 16px;
        }

        .midbanner_mobile > .banner > .orientation h2, 
        .midbanner_mobile > .banner > .campus h2, 
        .midbanner_mobile > .banner > .guest h2 {
            font-size: xx-large;
            color: rgb(0, 0, 0, 0.5);
            margin: 0px 0px 0px 16px; /* top right bottom left*/
            padding: 0px 0px 0px 16px; /* top right bottom left*/
        }

        .midbanner_mobile > .banner > .orientation p, 
        .midbanner_mobile > .banner > .campus p, 
        .midbanner_mobile > .banner > .guest p {
            font-size: large;
            color: rgb(0, 0, 0, 0.5);
            margin: 16px 0px 0px 16px; /* top right bottom left*/
            padding: 0px 0px 0px 16px; /* top right bottom left*/
        }

        /* bottom banner */
        .bottombanner {
            display: none;
        }
        
        /*bottombanner mobile*/
        .bottombanner_mobile{
            display: block;
            display: flex;
            flex-direction: column;
            background-color: white;
            color: rgb(0, 0, 0, 0.6);
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
        }

        .bottomtitle{
            text-align: center;
            color: rgba(0, 0, 0, 0.8);
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            padding-top: 32px;
        }

        .start_learning{
            padding-right: 24px;
        }

        .software_engineering, .computer_art, .design, .data, .business, .marketing{
            list-style: none;
            color: rgba(0, 0, 0, 0.5);
            background-color: rgba(0, 0, 0, 0.1);
            padding-top: 16px;
            padding-left: 16px;
            padding-bottom: 24px;
            display: flex;
            justify-content: space-between;
            margin: 8px;
            width:600px;

        }
         /*thesis banner*/
         .thesisbanner{
            display: none;
        }

        /*thesisbanner mobile*/
        .thesismobile{
            display: block;
        }

        .thsvidmobile video{
            width: 100%;
            align-content: center;
            padding-bottom: 24px;
        }

        
        
    
       
    
    

    


    /* main section - END */

    /* footer section - START */

    /* footer section - END */

}

